body {
 margin: 0;
}

img {
    max-width: 100%;
}


/* =================
Layout
================= */

.button-row>button {
    padding: 2em;
    margin: 1em;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-row {
    display: flex;
    justify-content: space-evenly;
}

.nav-container {
    display: flex; 
    justify-content: space-between;
    max-width: 100%;
    width: 1070px;
    margin-bottom: 1.5em;
}

#like-icon, #nope-icon {
    position: absolute;
    display: none;
    transform: translate(19%, 59%) rotate(-22deg);
    width: 35%;
}

.profile{
 position: absolute;
 top: 80vh;
 margin-left: 1em;
 font-size: 3rem;
 color: white;
}



@media (max-width: 500px) {
    .profile{
        top: 60vh;
        font-size: 1.2rem;
       }

    .paw-logo {
        width: 50%;
    }

    .nav-container>button {
        width: 60%;
    }

    #like-icon, #nope-icon {
        width: 75%;
    }
}

/* modal */
  
.modal {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 300px;
    width: 350px;
    border-radius: 7px;
    box-shadow: 0px 0px 6px 2px #666;
    background-color: #212529;
    color: whitesmoke;
}

.modal-inner{
    width: 290px;
    margin: 0 auto;
}

/* modal button */

.close-modal-btn-container{
    text-align: right;
    margin: 9px;
}

.modal-close-btn {
  font-size: 22px;
  font-weight: bold;
  background-color: transparent;
  border: 1px solid transparent;
  color: whitesmoke;
}

.modal-close-btn:hover,
.modal-close-btn:active{
    color: red;
    cursor: pointer;
}
