html {
    font-family: 'Poppins', sans-serif;
}

img {
    max-width: 75%;
    border-radius: 20px;;
}



/* =================
Layout
================= */

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-container {
    display: flex; 
    justify-content: space-between;
    max-width: 100%;
    width: 1070px;
    margin-bottom: 1.5em;
}

#profile {
    display: flex;
    justify-content: center;
   }


/* =================
Button styling
================= */

 button {
    background-color: white;
    border: none;
}

.button-row>button {
    padding: 2em;
    margin: 1em;
    border: 1px none black;
    height: 125px;
    width: 125px;
    border-radius: 50%;;
    box-shadow: 0px 10px 20px #E9E9EA;
}

#nope-button:hover {
    background: linear-gradient(#e66464b9, #e5ca91);
    box-shadow: 0 5px rgb(166, 157, 157)
}

#nope-button>button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  #like-button:hover {
    background: linear-gradient(#b7f0d8, #a7ff7ee3);
    box-shadow: 0 5px rgb(166, 157, 157)
}

#like-button>button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.button-row {
    display: flex;
    justify-content: space-evenly;
}

#like-icon, #nope-icon {
    position: absolute;
    display: none;
    transform:  translate(40%, 60%) rotate(-22deg);
    width: 15%;
}

.profile-text{
    position: absolute;
    top: 97vh;
    font-size: 2rem;
    color: white;
    width: 38%;
}

/* =================
Media queries
================= */

/* For tablets */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .profile-text{
        top: 70vh;
        left: 12vh;
        font-size: 1.8rem;
        width: 70%;
        margin: -1em;
       }

       #profile {
        display: flex;
        justify-content: center;
       }

       #profile>img {
        max-width: 80%;
    }

    #like-icon, #nope-icon {
        position: absolute;
        display: none;
        transform: translate(52%, 80%) rotate(-22deg);
        width: 43%;
    }

    .modal{
        overflow-y: scroll;
        max-height: 70%;
        word-wrap: normal;
        font-size: 1.5rem;
    }
}

/* For newer mobile screens */
@media (max-width: 500px) {
    .profile-text{
        top: 60vh;
        font-size: 1.2rem;
        width: 80%;
        margin: -2em;
       }

       #profile>img {
        max-width: 100%;
        border-radius: 20px;
    }

    .paw-logo {
        width: 45%;
    }

    .nav-container>button {
        width: 60%;
    }

    #like-icon, #nope-icon {
        display: none;
        width: 75%;
        transform: translate(11%, 80%) rotate(-22deg);
    }

    .modal{
        overflow-y: scroll;
        max-height: 70%;
        word-wrap: normal;
        font-size: 1.5rem;
    }

    text-container>h2 {
        width: 70%;
        line-height: 2.5rem;
        text-align: center;
        font-size: 1.1rem;
    }
}


/* For smaller phone screens */
@media only screen 
  and (max-device-width: 375px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .profile-text{
        top: 63vh;
        font-size: 1rem;
        width: 65%;
       }

       #profile {
        display: flex;
        justify-content: center;
       }

       #profile>img {
        max-width: 83%;
    }

    #like-icon, #nope-icon {
        position: absolute;
        display: none;
        max-width: 70%;
        transform:  translate(16%, 64%) rotate(-22deg);
    }

    .modal{
        overflow-y: scroll;
        max-height: 80%;
        word-wrap: normal;
        font-size: 1.5rem;
    }

    text-container>h2 {
        width: 70%;
        line-height: 2.5rem;
        text-align: center;
        /* padding: 0.3em; */
        font-size: 1.1rem;
    }
}

/* =================
End of Matches Style
================= */
.end-of-matches {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}

text-container>h2 {
    width: 35%;
    line-height: 2.5rem;
    text-align: center;
    padding: 1.3em;
}

/* =================
Modal
================= */
  
.modal {
    display: block;
    position: fixed;
    top: 0;
    bottom: 15vh;
    right: 0;
    left: 0;
    max-width: 90%;
    margin: auto;
    height: 800px;
    width: 350px;
    border-radius: 7px;
    box-shadow: 0px 0px 6px 2px #666;
    background-color: #212529;
    color: whitesmoke;
    font-size: 1.5rem;
}

.modal-inner{
    width: 290px;
    margin: 0 auto;
}

/* modal button */

.close-modal-btn-container{
    text-align: right;
    margin: 9px;
}

.modal-close-btn {
  font-size: 40px;
  font-weight: bold;
  background-color: transparent;
  border: 1px solid transparent;
  color: whitesmoke;
}

.modal-close-btn:hover,
.modal-close-btn:active{
    color: red;
    cursor: pointer;
}
